#{extends 'main.html' /}
#{set title:'Accueil' /}

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Bienvenue</h1>
                <p>Postez des messages, des photos, des vidéos, et explorez les catastrophes en cours !</p>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>Communiquer</h2>
            <hr/>
            <form method="POST" action="@{Civil.ajouterPost()}">
                <textarea style="width: 835px; height: 100px;" name="post"></textarea>
                <input type="hidden" id="lng" name="lng" value=""/>
                <input type="hidden" id="lat" name="lat" value=""/>
                <input type="submit" class="btn btn-success" value="Valider"/>
            </form>

            <h2>Les derniers posts</h2>
            <hr/>

            #{list items:lesPosts, as:'post'}
            <div class="panel panel-info">
                <div class="panel-heading"><strong>Anonyme (${post.ip})</strong></div>
                <div class="panel-body">
                    <p>${post.text}</p>
                    #{if post.tag}<p>Mot clé : <a href="">${post.tag}</a></p>#{/if}
                    ${post.lat} - ${post.lat}
                    #{if post.media}
                        <div>${post.media}</div>
                    #{/if}
                </div>
            </div>
            #{/list}

            #{if nbPosts > 5}
            <ul class="pagination">
                #{list items:0..(nbPosts/5), as:'i'}
                    <li><a href="@{Civil.dashboard(false, 5, i)}">${i + 1}</a></li>
                #{/list}
            </ul>
            #{/if}


            <h2>Carte des évènements</h2>
            <hr/>
            <div class="row">
            <div id="map" style="height: 500px; width: 100%;"></div>
            </div>
        </div>

        <div class="col-lg-3">
            <h2 class="page-header">
                Module de chat
            </h2>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->


<!-- Modal -->
<div class="modal fade" id="modalSecours" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Demande de secours prise en compte !</h4>
            </div>
            <form method="post" action="@{Civil.ajouterInfosDanger}">
                <div class="modal-body">
                    <div class="alert alert-info">
                        <p>Afin d'aider les secours, veuillez indiquer des informations complémentaires.</p>
                        <p>Aucune de ces informations n'est obligatoire.</p>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 control-label" for="nom">Nom</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 control-label" for="prenom">Prénom</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 control-label" for="email">Email</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Adresse email">
                        </div>
                        <label class="col-sm-2 control-label" for="tel">Téléphone</label>
                        <div class="col-sm-4">
                            <input type="tel" class="form-control" id="tel" name="tel" placeholder="Numéro de téléphone">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 control-label">Sexe</label>
                        <label class="radio-inline">
                            <input type="radio" name="sexe" id="masculin" value="Homme" checked>
                            Homme
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="sexe" id="feminin" value="Femme">
                            Femme
                        </label>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4 control-label">Groupe Sanguin</label>
                        <div class="col-sm-3">
                            <select name="groupesanguin" class="form-control">
                                #{list items:lesGroupes, as:'groupe'}
                                    <option value="${groupe}">${groupe.name}</option>
                                #{/list}
                            </select>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">Date de naissance</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="dateNaissance" placeholder="JJ/MM/YYYY" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Enregistrer" />
                </div>
            </form>
        </div>
    </div>
</div>



#{set 'scriptsJS'}
    <script type="text/javascript">
        var map;

        var lat = 0;
        var lng = 0;

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Activez la géolocalisation pour une meilleure expérience.");
            }
        }

        function showPosition(position) {
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            document.getElementById("lat").setAttribute("value", lat);
            document.getElementById("lng").setAttribute("value", lng);

            var latLng = new google.maps.LatLng(lat, lng);
            map.setCenter(latLng);
            map.setZoom(7);
        }

        function initMap() {
            getLocation();

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0},
                zoom: 1
            });
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>

    <script>
        #{list items:lesEvenements, as:'event'}

            var infoWindowContent${event.id} = '<div class="info_content">' +
                                    '<h3>${event.type}</h3>' +
                                    '<p><a href="@{Evenements.index(event.id)}">Afficher les détails.</a></p>' +
                                    '</div>';

            // Initialise the inforWindow
            var infoWindow${event.id} = new google.maps.InfoWindow({
                content: infoWindowContent${event.id}
            });

            var marker${event.id} = new google.maps.Marker({
                position: {lat: 0.0+${event.lat}, lng: 0.0+${event.lon}},
                map: map
            });

            google.maps.event.addListener(marker${event.id}, 'click', function() {
                infoWindow${event.id}.open(map, marker${event.id});
            });
        #{/list}
    </script>

    <script>
        #{if demandeSecours}
            $('#modalSecours').modal('toggle');
        #{/if}
    </script>
#{/set}