#{extends 'main.html' /}
#{set title:'Accueil' /}

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
        <div class="container-fluid">

            <div class="row-fluid">
                    <form method="post" action="@{Civil.ajouterPostDanger()}">
                        <div class="form-group">
                            <button class="btn btn btn-danger btn-lg btn-block" style="margin-top: 20px; min-height: 100px;">
                                <span aria-hidden="true" class="glyphicon glyphicon-warning-sign" style="font-size: 150%"></span>
                                <br>
                                <span>JE SUIS EN DANGER :'(</span>
                            </button>
                            <input type="hidden" name="lat">
                            <input type="hidden" name="lng">
                        </div>
                    </form>
            </div>

            <div class="row-fluid">
                <a href="@{Civil.dashboard(false, 5, 0)}" class="btn btn-info btn-lg btn-block">Continuer vers ${applicationName}</a>
                <a href="@{Autorite.index()}" class="btn btn-info btn-lg btn-block">Je suis une autorité</a>
            </div>
        </div>
    <!-- /.row -->
</div>
<!-- /.container -->

#{set 'scriptsJS'}
<script>

</script>
#{/set}