#{extends 'main.html' /}
#{set title:'Accueil' /}

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p class="textalign-center"><button type="button" class="btn btn-danger">Je suis en danger</button></p>
            <p class="textalign-center"><a href="@{Civil.dashboard(5, 0)}" class="btn btn-info">Continuer vers ${applicationName}</a></p>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

#{set 'scriptsJS'}
<script>

</script>
#{/set}