<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>${title} #{get 'title' /}</title>

    <!-- Bootstrap -->
    <link href="@{'/public/css/bootstrap.min.css'}" rel="stylesheet">
    <link href="@{'/public/css/custom.css'}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>



    <script>

        // Using requirejs
        require(['path/to/Chartjs'], function(Chart){
            // Use Chart.js as normal here.

            // Chart.noConflict restores the Chart global variable to it's previous owner
            // The function returns what was previously Chart, allowing you to reassign.
            var Chartjs = Chart.noConflict();

        });


    </script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>



    <![endif]-->
</head>
<body style="font-family: 'Open Sans Condensed', sans-serif;">
<div id="wrapper">
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span> Supervisor</a>


        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><input type="text" class="form-control" placeholder="Mots clefs" style="margin-top: 8px;width: 400px;"></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#{if userConnected}${userConnected.prenom} ${userConnected.nom}#{/if}#{else}Espace membre#{/else} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        #{if userConnected}
                            <li><a href="@{Autorite.disconnect()}">Se déconnecter</a></li>
                        #{/if}
                        #{else}
                            <li><a href="@{Autorite.connect()}">Connexion</a></li>
                            <li><a href="@{Autorite.register()}">Inscription</a></li>
                        #{/else}
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


    <div id ="content">
<div class="container" id="notifications">
    #{if flash.success}
        <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            ${flash.success}
        </div>
    #{/if}

    #{if flash.error}
        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        ${flash.error}
        </div>
    #{/if}
</div>

#{doLayout /}


    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Application de gestion de crise réalisée dans le cadre de la nuit de l'informatique 2015 par l'équipe Impressive Set Of Intelligent Students.
                </div>
            </div>
            <div class="row links">
                <ul>
                    <li><a href="https://github.com/ImpressiveSetOfIntelligentStudents/nuitinfo2015">GitHub</a></li>
                    <li><a href="https://twitter.com/Impressive_Set">Twitter</a></li>
                    <li><a href="http://www.risques.gouv.fr/menaces-terroristes/le-plan-vigipirate"><img src="/public/images/logo-vigipirate.png" height="40px"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="@{'/public/js/bootstrap.min.js'}"></script>
<script src="@{'/public/js/custom.js'}"></script>

#{get 'scriptsJS' /}
</body>
</html>