#{extends 'Autorite/main.html' /}
#{set title:'Accueil' /}


<head>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="@{'/public/javascripts/Chart.js-master/Chart.js'}"></script>

    <style>
        #map {
            width: 650px;
            height: 400px;
        }
    </style>


</head>

<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->

    <div class="row">
        <h1 class="page-header">
            Inscription
        </h1>

        <div class="col-lg-6">
            <form action="registerPost">
            Email
            <input type="text" class="form-control" name="email">
            <br>
            Nom
            <input type="text" class="form-control" name="nom">

            <br>
            Prénom
            <input type="text" class="form-control" name="prenom">

            <br>
            Mot de passe
            <input type="password" class="form-control" name="motDePasse">
            <br>
            Mot de passe
            <input type="password" class="form-control" name="motDePasseConfirmation">

            <br>
            <button type="submit" class="btn btn-default" >Créer un comtpe</button>

            </form>
        </div>

        <!-- /.row -->
    </div>
    <!-- /.container -->



#{set 'scriptsJS'}

#{/set}