<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>${title} #{get 'title' /}</title>

    <!-- Bootstrap -->
    <link href="@{'/public/css/bootstrap.min.css'}" rel="stylesheet">
    <link href="@{'/public/css/custom.css'}" rel="stylesheet">

    <script src="@{'/public/bower_components/webcomponentsjs/webcomponents-lite.min.js'}"></script>

    <link rel="import" href="@{'/public/bower_components/voice-player.html'}">
    <link rel="import" href="@{'/public/bower_components/voice-recognition.html'}">

    <!-- Favicon stuff -->
    <link rel="mask-icon" href="@{'/public/images/safari-pinned-tab.svg'}" color="#5bbad5">
    <link rel="apple-touch-icon" sizes="57x57" href="@{'/public/images/apple-touch-icon-57x57.png'}">
    <link rel="apple-touch-icon" sizes="60x60" href="@{'/public/images/apple-touch-icon-60x60.png'}">
    <link rel="apple-touch-icon" sizes="72x72" href="@{'/public/images/apple-touch-icon-72x72.png'}">
    <link rel="apple-touch-icon" sizes="76x76" href="@{'/public/images/apple-touch-icon-76x76.png'}">
    <link rel="apple-touch-icon" sizes="114x114" href="@{'/public/images/apple-touch-icon-114x114.png'}">
    <link rel="apple-touch-icon" sizes="120x120" href="@{'/public/images/apple-touch-icon-120x120.png'}">
    <link rel="apple-touch-icon" sizes="144x144" href="@{'/public/images/apple-touch-icon-144x144.png'}">
    <link rel="apple-touch-icon" sizes="152x152" href="@{'/public/images/apple-touch-icon-152x152.png'}">
    <link rel="apple-touch-icon" sizes="180x180" href="@{'/public/images/apple-touch-icon-180x180.png'}">
    <link rel="icon" type="image/png" href="@{'/public/images/favicon-32x32.png'}" sizes="32x32">
    <link rel="icon" type="image/png" href="@{'/public/images/favicon-194x194.png'}" sizes="194x194">
    <link rel="icon" type="image/png" href="@{'/public/images/favicon-96x96.png'}" sizes="96x96">
    <link rel="icon" type="image/png" href="@{'/public/images/android-chrome-192x192.png'}" sizes="192x192">
    <link rel="icon" type="image/png" href="@{'/public/images/favicon-16x16.png'}" sizes="16x16">
    <link rel="manifest" href="@{'/public/images/manifest.json'}">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-TileImage" content="@{'/public/images/mstile-144x144.png'}">
    <meta name="theme-color" content="#bedb39">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


    <![endif]-->
</head>
<body style="background-image:url(/public/images/font.jpg);background-size: cover;background-attachment: fixed;font-family: 'Open Sans Condensed', sans-serif;">
<div id="wrapper">
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img class="hidden-xs" src="@{'/public/images/logo150-50.png'}" alt=""></a>
            <img class="visible-xs" src="@{'/public/images/logo120-40.png'}" alt="">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                *{<form method="post" action="@{Civil.ajouterPostDanger()}">}*
                    *{<input type="submit" style="margin-top: 3px;" class="btn btn-danger btn-lg" value="Je suis en danger">}*
                    *{<input type="hidden" name="lat">}*
                    *{<input type="hidden" name="lng">}*
                *{</form>}*
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

    <div id ="content">
        <div class="container" id="notifications">
            #{if flash.success}
                <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 20px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    ${flash.success}
                </div>
                <voice-player autoplay id="voix-accueil" accent="fr-FR"
                              text="${flash.success}">
                </voice-player>
            #{/if}

            #{if flash.error}
                <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 20px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                ${flash.error}
                </div>
            #{/if}
        </div>

        #{doLayout /}



    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Application de gestion de crise réalisée dans le cadre de la nuit de l'informatique 2015 par l'équipe Impressive Set Of Intelligent Students.
                </div>
            </div>
            <div class="row links">
                <ul>
                    <li><a href="https://github.com/ImpressiveSetOfIntelligentStudents/nuitinfo2015">GitHub</a></li>
                    <li><a href="https://twitter.com/Impressive_Set">Twitter</a></li>
                    <li><a href="http://www.risques.gouv.fr/menaces-terroristes/le-plan-vigipirate"><img src="/public/images/logo-vigipirate.png" height="40px"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="@{'/public/js/bootstrap.min.js'}"></script>
<script src="@{'/public/js/custom.js'}"></script>
<script type="text/javascript" src="/public/js/moment.js"></script>
<script type="text/javascript" src="/public/js/bootstrap-datetimepicker.js"></script>

#{get 'scriptsJS' /}
</body>
</html>