<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>${title} #{get 'title' /}</title>

    <!-- Bootstrap -->
    <link href="@{'/public/css/bootstrap.min.css'}" rel="stylesheet">
    <link href="@{'/public/css/custom.css'}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">${applicationName}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@{Accueil.index()}">Accueil</a></li>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#{if userConnected}${userConnected.prenom} ${userConnected.nom}#{/if}#{else}Espace membre#{/else} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        #{if userConnected}
                            <li><a href="@{Users.disconnect()}">Se déconnecter</a></li>
                        #{/if}
                        #{else}
                            <li><a href="@{Accueil.connect()}">Connexion</a></li>
                            <li><a href="@{Accueil.register()}">Inscription</a></li>
                        #{/else}
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

#{if isAccueil}
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1920x400');"></div>
            <div class="carousel-caption">
                <h2>${applicationName}</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1920x400');"></div>
            <div class="carousel-caption">
                <h2>${applicationName}</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
#{/if}

<div class="container" id="notifications">
    #{if flash.success}
        <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            ${flash.success}
        </div>
    #{/if}

    #{if flash.error}
        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        ${flash.error}
        </div>
    #{/if}
</div>

#{doLayout /}


<div class="container">
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                Accueil réalisée dans le cadre de la nuit de l'informatique 2015 par l'équipe Impressive Set Of Intelligent Students.
            </div>
        </div>
    </footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="@{'/public/js/bootstrap.min.js'}"></script>
<script src="@{'/public/js/custom.js'}"></script>

#{get 'scriptsJS' /}
</body>
</html>