#{extends 'main.html' /}
#{set title:'Accueil' /}

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Bienvenue sur ${applicationName} ${connectedUser}
            </h1>
            <p>${applicationName} est lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia quam vitae tempor porta. Etiam purus nunc, varius vel est nec, efficitur luctus nunc. Vivamus risus augue, fermentum et lorem nec, imperdiet imperdiet ligula. Cras at facilisis elit, non rhoncus lectus. Curabitur nec purus non erat vulputate cursus. Donec in neque enim. Integer nulla ante, semper vitae felis at, hendrerit dignissim nulla. Pellentesque rhoncus in libero quis eleifend. Suspendisse quis porttitor felis. Mauris lacinia enim eu consectetur sollicitudin. Etiam consequat fringilla leo. Fusce id condimentum ex. </p>
            <center>

                <a href="#" class="btn btn-success">Commencer maintenant</a></center>
            <form action="/Accueil/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="media"/>
                <input type="submit" value="Envoyer"/>
            </form>

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

#{set 'scriptsJS'}
<script>

</script>
#{/set}